


<% @page_title = "Edit Video" %>

<%= link_to("<< Back to Video List", {:action => 'index'}, :class => 'back-link') %>

<div class="videos edit">
  <h2>Update Video</h2>



  <!--Stack overflow advice for solving POST routing error during update (advice was to use PUT instead, which is encompassed in the following use of form_for): -->
  <%= form_for @video do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag 'Cancel' %>
      <%= submit_tag 'Update'%>
    </div>

  <% end %>
</div>
