<!--<% @page_title = "Videos" %>

<div class="videos index">
  <h2>Videos</h2>

  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Video", {:action => 'new'}, :class => 'action new') %>
<br>
<br>
  <table class="listing" summary="Video list">
    <tr class="header">
      <th>Title</th>
      <th>Originator</th>
      <th>Category</th>
      <th>Link</th>
      <th>&nbsp;</th>
    </tr>
    <% @videos.each do |video| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= video.title %></td>
      <td><%= video.originator %></td>
      <td><%= video.category %></td>
      <td><%= link_to 'Click Here', video.url %></td>
      <td>&nbsp;</td>
      <td class="actions">
        <%= link_to("Show", video_path(video), method: :show) %>
        <%= link_to("Edit", video_path(video), method: :edit) %>
        <%= link_to("Delete", video_path(video), method: :delete) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
-->


<!-- Embed a Youtube Video. Note: Replace /watch?v= with /v/ -->
<div class="video-container">
<h2 class="randomvideo-header">"<%= puts "Daft Punk (Cover) by Pentatonix" unless @randomvideo %><%= @randomvideo.title %>" by <%=@randomvideo.originator %></h2>
<div class="video-frame">
  <object width="500" height="360">
    <param name="movie" value="http://www.youtube.com/v/<%= @x %>"</param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowScriptAccess" value="always"></param>
    <embed src="http://www.youtube.com/v/<%= @x %>"
    type="application/x-shockwave-flash"
    allowfullscreen="true"
    allowscriptaccess="always"
    width="500" height="360">
    </embed>
  </object>
</div>

<div class="add-video-button">
  <%= link_to 'Add a Video', new_video_path %>
</div>
</div>