<% @page_title = "New Video" %>


<div class="new-video-form">
  <h2>Add a New Video</h2>

  <%= form_for(:video, :url => {:action => 'create', :id => @video.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>


      <%= submit_tag 'Cancel', :class => 'form-button' %>
      <%= button_tag 'Reset', type: :reset, :class => 'form-button' %>
      <%= submit_tag 'Add', :class => 'form-button' %>


  <% end %>
</div>
